{
	"bracketSpacing": true,
	"printWidth": 140,
	"singleQuote": true,
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"Quotes": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid"
}
